* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins';
}

header {
  display: grid;
  position: relative;
  
  grid-template-columns: 80px 1fr 1fr 1fr;
  grid-template-areas:
    "logo logo logo useritems"
    "nav search search useritems";
}

.header-logo {
  grid-area: logo;
  margin-left: 0.3em;
  font-weight: bold;
}

.header-nav-toggle {
  display: none;
}

.header-nav-toggle:checked ~ nav {
  display: block;
  position: absolute;
}

.header-nav-toggle-label {
  display: flex;
  position: absolute;
  border: 1px solid black;
  background: rgba(75, 131, 216, 0.8);
  top: calc(100% - 35px);
  left: 0;
  width: 39px;
  height: 35px;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
}

.header-nav-toggle-label span,
.header-nav-toggle-label span::before,
.header-nav-toggle-label span::after {
  background: white;
  height: 2px;
  width: 1.8em;
  border-radius: 2px;
  position: relative;
}

.header-nav-toggle-label span::before,
.header-nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.header-nav-toggle-label span::before {
  bottom: 7px;
}

.header-nav-toggle-label span::after {
  top: 7px;
}

header nav {
  grid-area: nav;
  top: 100%;
  margin-top: 1px;
  margin-left: 1em;
  display: none;
  background: rgba(75, 131, 216, 0.8);
  width: 200%;
  z-index: 9;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: 1em;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  color: black;
}

.header-search {
  grid-area: search;
  display: flex;
  align-items: center;
  position: relative;
}

.header-search input {
  height: 35px;
  width: 85%;
  position: relative;
  background: url("../img/search.png") no-repeat right;
  background-size: 28px;
}

.header-user-menu {
  grid-area: useritems;
  display: flex;
}

.header-user-menu ul {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 20px;
  list-style: none;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.header-user-menu ul li {
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.header-user-menu ul li a {
  color: black;
  text-decoration: none;
}

.header-user-menu ul li a:hover {
  color: rgb(32, 130, 241);
}
    
.header-user-menu ul li::before {
  content: '';
  position: absolute;
  border-left: 1px solid black;
  top: 50%;
  left: -20px;
  height: 50%;
}

.header-user-menu ul li:first-child::before {
  display: none;
}

.header-user-menu ul li a {
  text-decoration: none;
}

.header-user-menu ul li .signin::before,
.header-user-menu ul li .orders::before,
.header-user-menu ul li .cart::before {
  display: block;
  font-family: "Material Symbols Outlined";
  font-variation-settings: 'FILL' 0;
  font-size: 30px;
}
    
.header-user-menu ul li .signin::before {
  content: "\e853";
}
    
.header-user-menu ul li .orders::before {
  content: "\f5a0";
}
    
.header-user-menu ul li .cart::before {
  content: "\e8cc";
}

main {
  background: rgb(231, 231, 231);
}

.carousel {
  position: relative;
  height: 620px;
  margin: 0 auto;
}

.carousel-track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  transition: transform 200ms ease-in;
}

.carousel:hover :where(.carousel-btn, .carousel-nav) {
  opacity: 1;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  opacity: 0;
  top: 50%;
  width: 100px;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
  transition: 0.8s;
}

.carousel-btn:hover {
  background: rgb(219, 232, 236, .6);
}

.carousel-btn--left {
  left: 0;
  z-index: 9;
}

.carousel-btn--right {
  right: 0;
  z-index: 9;
}

svg {
  width: 100px;
  transform: scale(0.5);
  transition: 0.4s;
}

svg:hover {
  transform: scale(0.7);
}

.carousel-nav {
  position: absolute;
  bottom: 0;
  opacity: 0;
  background: rgb(219, 232, 236, .3);;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  transition: 0.8s;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, .3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel-current-slide {
  background: rgba(0, 0, 0, .75);
}

.shop-by-category {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin: 1rem 1rem 2rem;
}

.shop-by-category h1 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  column-gap: 4em;
  row-gap: 3em;
  place-content: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 50px;
}

.cat-fruits, .cat-vegetables, .cat-dairyeggs, .cat-meatseafood, .cat-breadbakery, .cat-beverage, .cat-snacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cat-fruits a,
.cat-vegetables a,
.cat-dairyeggs a,
.cat-meatseafood a,
.cat-breadbakery a,
.cat-beverage a,
.cat-snacks a {
  color: crimson;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  z-index: 9;
}

.cat-fruits::before,
.cat-vegetables::before,
.cat-dairyeggs::before,
.cat-meatseafood::before,
.cat-breadbakery::before,
.cat-beverage::before,
.cat-snacks::before {
  display: block;
  content: '';
  height: 220px;
  width: 220px;
  background: rgb(231, 231, 231);
  background-size: 100% 100%;
  border-radius: 50%;
  transition: 0.5s;
}

.cat-fruits:hover::before,
.cat-vegetables:hover::before,
.cat-dairyeggs:hover::before,
.cat-meatseafood:hover::before,
.cat-breadbakery:hover::before,
.cat-beverage:hover::before,
.cat-snacks:hover::before {
  transform: scale(1.1);
}

.cat-fruits::before {
  background-image: url('../img/fruits.png');
}

.cat-vegetables::before {
  background-image: url('../img/vegetables.png');
}

.cat-dairyeggs::before {
  background-image: url('../img/dairyeggs.png');
}

.cat-meatseafood::before {
  background-image: url('../img/meatseafood.png');
}

.cat-breadbakery::before {
  background-image: url('../img/breadbakery.png');
}

.cat-beverage::before {
  background-image: url('../img/beverage.png');
}

.cat-snacks::before {
  background-image: url('../img/snacks.png');
}

.support-info {
  background: rgba(75, 131, 216, 0.8);
  color: white;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.5rem;
  width: 100%;
  padding: 60px 60px 50px;
}

.support-info ul {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: medium;
  font-style: normal;
  list-style: none;
  margin-top: 50px;
  padding-left: 0;
}

.support-info hr {
  border: 1px solid rgba(211, 211, 211, 0.5);
  width: 95%;
  grid-column: 1/4;
}

.store-location, .customer-support, .policy {
  padding-left: 3rem;
}

.store-location h4 {
  margin-top: 2rem;
}

footer {
  margin-top: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  header {
    grid-template-columns: minmax(200px, 25%) 1fr 1fr 1fr;
    grid-template-areas:
      "logo search search useritems"
      "nav nav nav nav"
  }
  
  header nav {
    grid-area: nav;
    display: block;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    top: 100%;
  }
  
  .header-logo {
    margin-left: 1.2em;
  }

  header nav ul {
    display: flex;
  }

  header nav ul li {
    margin-left: 2em;
  }

  .header-nav-toggle-label {
    display: none;
  }
  
  .header-user-menu ul {
    grid-template-columns: repeat(3, 110px);
    margin-bottom: 18px;
    padding-left: 0;
  }
  
  .header-user-menu ul li::before {
    content: '';
    position: absolute;
    border-left: 1px solid black;
    top: 32%;
    left: -20px;
    height: 60%;
  }

  .header-user-menu ul li .signin::before,
  .header-user-menu ul li .orders::before,
  .header-user-menu ul li .cart::before {
    display: unset;
    vertical-align: -9px;
    margin-right: 6px;
  }
}